{# src/UserBundleBundle/Events/show_comments.html.twig #}
{% extends 'MoviesBundle:Base:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/web/css/comment.css" />
{% endblock %}

{% block body %}
    {% if comment is defined and comment != null %}
        <div id="v-comment">
            <header>
                <h2>
                    {{ comment.movie.originaltitle }}
                </h2>
            </header>
            <!-- Page Content -->
            <div class="cont">
                <main>
                    <section>
                        <article id="comment">
                                <div class="panel panel-body">
                                    <header id="header">

                                        <div class="date">
                                            <div><b>
                                                    {% if app.user and app.user.id == comment.user.id %}
                                                        Tu comentario
                                                    {% else %}
                                                        {{ comment.user.username }}
                                                    {% endif %}
                                                </b>
                                            </div>
                                            {{ comment.dateAdd|date('d-m-Y H:i') }} <span class="score">{{ comment.score }}</span>
                                        </div>
                                        {% if comment.title != null %}
                                            <h4 class="title-comment">{{ comment.title }}</h4>
                                        {% endif %}
                                    </header>
                                    {% if comment.comment != null %}
                                        <hr class="separator-title">
                                        <div>
                                            <p class="text-comment">{{ comment.comment }}</p>
                                        </div>
                                    {% endif %}
                                    {% if app.user and app.user.id == comment.user.id %}
                                        <div class="div-buttons">
                                                <form action="{{ path('comment_add') }}" method="post">
                                                    <input class="hidden" value="{{ comment.movie.num }}" name="film" id="film" type="text">
                                                    <div class="div-buttons">
                                                        <button type="submit" class="btn btn-primary-search-edit">Editar</button>
                                                    </div>
                                                </form>
                                        </div>
                                    {% endif %}
                                    <div>
                                        <div class="like">

                                        </div>
                                        <div class="not-like">

                                        </div>
                                    </div>
                                </div>
                        </article>
                        <a href="javascript:history.back(-1);">Atrás</a>
                    </section>
                </main>
            </div>
        </div>
    {% else %}
        <!-- Añadir páginas error -->
        {% include 'MoviesBundle:Errors:error404.html.twig' %}
    {% endif %}
{% endblock %}
{% block javascripts %}
{% endblock %}