{% trans_default_domain 'FOSUserBundle' %}

<header>
    <div class="panel-heading-title">
        <h1 class="center-h1 title-page">
            <a class="title-a" href="{{ path('films') }}">
                <div id="logo-main">
                    <img src="{{ asset('favicon.ico') }}" alt="">
                    {#<img src="/web/favicon.ico" alt="Best Movies">#}
                </div>
                Best Movies</a></h1>
        <div class="div-login">
            {% if app.user != null %}
                <h2 id="name-user">¡Hola {{ app.user }}!</h2>
            {% endif %}
        </div>
    </div>
</header>
<div class="container">
    <div id="form-login">
{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'form_lr' } }) }}
        <h2 class="title">Cambiar contraseña</h2>
    {{ form_widget(form) }}
        <div class="div-buttons">
            <a href="{{ path('films') }}" class="col-md-5 btn btn-primary-reset">Cancelar</a>
            <button type="submit" class="col-md-5 btn btn-primary-search" id="_submit" name="_submit">Aceptar</button>
        </div>
{{ form_end(form) }}
    </div>
</div>

{% include 'MoviesBundle:Base:footer.html.twig' %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        (function(){

            var inputPass, labelPass, btnOk, btnCancel, inputLogin;

            function initVars(){
                inputPass = $('#fos_user_change_password_form_current_password');
                labelPass = $('label[for="fos_user_change_password_form_current_password"]');
                inputPassF = $('#fos_user_change_password_form_plainPassword_first');
                labelPassF = $('label[for="fos_user_change_password_form_plainPassword_first"]');
                inputPassS = $('#fos_user_change_password_form_plainPassword_second');
                labelPassS = $('label[for="fos_user_change_password_form_plainPassword_second"]');
                inputLogin = $('#fos_user_change_password_form>div>input');
            }

            initVars();

        })();
    </script>
{% endblock %}

