<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include 'MoviesBundle:Base:meta.html.twig' %}
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Taviraj" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inknut+Antiqua" rel="stylesheet">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    {#<link rel="stylesheet" href="/web/css/font-awesome/css/font-awesome.min.css">#}
    <link rel="stylesheet" href="/css/main.css">
    {#<link rel="stylesheet" href="/web/css/main.css">#}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {#<link rel="icon" type="image/x-icon" href="/web/favicon.ico" />#}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <div class="panel-heading-title">
        <h1 class="title-page">
            <a class="title-a" href="{{ path('films') }}">
            <div id="logo-main">
                <img src="{{ asset('favicon.ico') }}" alt="">
                {#<img src="/web/favicon.ico" alt="Best Movies">#}
            </div>
            Best Movies</a></h1>
        <div class="div-login">
        {% if app.user == null %}
            <a href="{{ path('fos_user_security_login') }}" class="btn-login"><span>Login</span></a>
        {% else %}
            <h2 id="name-user">¡Hola {{ app.user }}!</h2>
        {% endif %}
        </div>
    </div>
</header>
<div class="container">
    {% if is_granted('ROLE_ADMIN') %}
        {% include 'MoviesBundle:Base:nav_admin.html.twig' %}
    {% elseif app.user %}
        {% include 'MoviesBundle:Base:nav_userlogged.html.twig' %}
    {% endif %}
    {% block body %}{% endblock %}
</div>

{% include 'MoviesBundle:Base:footer.html.twig' %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>